

.ogf-form-block{
	margin : 10px 0px;
	padding : 10px;
	background-color : white;
}

.ogfe-form-block-header{
	float: left;
	width : 200px;
	padding-right : 10px;
	font-weight : bold;
}
.ogfe-form-block-content{
	float : left;
}
.fb-session-notice{
	background-color : rgb(240,240,240);
	border : 1px solid rgb(230,230,230);
	margin-top : 10px;
	padding : 10px;
}
.fb-session-error{
	border-left : 5px solid #EF7D7D;
}
.fb-session-success{
	border-left : 5px solid #98EE91;
}

.ofge-table-th{
	font-weight : normal !important;
	font-size : 12px !important;
	color : rgb(100,100,100) !important;
}
